<%- include("../partials/header.ejs") %>

<div class="ui main container segment">

    <h1>Welcome to owner page!!</h1>
    <a href="/findmyneed/owner/new"><button class="ui button">Add a new job</button></a><br>
    <br>
    <a href="/findmyneed/owner/employeereq"><button class="ui button">Employee requests</button></a>

</div>


<%- include("../partials/footer.ejs") %>