<%- include("../partials/header.ejs") %>

<div class="ui main container segment">

    <h1>Welcome to employee page!!</h1>
    <a href="/findmyneed/employee/show"><button class="ui button">show new jobs</button></a><br>
    <br>
    <a href="#"><button class="ui button">show accepted requests</button></a>

</div>


<%- include("../partials/footer.ejs") %>