<%- include("partials/header.ejs") %>
<div class="ui main container segment">

    <h1>Welcome to Landing page!!</h1>
    <a href="/findmyneed">
        <button class="ui primary button">
            Get Started
        </button>
    </a>
    

</div>


<%- include("partials/footer.ejs") %>