<%- include("partials/header.ejs") %>

<div class="ui main container segment">
    <h2 style="text-align:center">Register here!</h2>
    <form action="/register" method="POST" class="ui form">
        <div class="field">
          <label>Full name</label>
          <input type="text" name="fullname" placeholder="Full name">
        </div>
        <div class="field">
          <label>Age</label>
          <input type="text" name="age" placeholder="age">
        </div>
        <div class="field">
          <label>Username</label>
          <input type="text" name="username" placeholder="Username">
        </div>
        <div class="field">
          <label>Password</label>
          <input type="password" name="password" placeholder="password">
        </div>
        <button class="ui primary button" type="submit">Submit</button>
      </form>
</div>

<%- include("partials/footer.ejs") %>